AuthGroupFile /dev/null
AuthType Basic
AuthUserFile /home/abadiscoms/domains/abadis.ir/.htpasswd/public_html/newcoms/.htpasswd
AuthName "admin"
require valid-user
ErrorDocument 401 "Unauthorized Access"
